<!DOCTYPE html>
<html lang="ja" ng-app="myApp">
<head>
  <meta charset="UTF-8">
  <meta name="referrer" content="no-referrer">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
  <link rel="icon" type="image/jpg"     href="ftodo.ico">
  <link rel="apple-touch-startup-image" href="ftodo.ico">
  <link rel="apple-touch-icon"          href="ftodo.ico">
  <link rel="shortcut icon"             href="ftodo.ico">
  <title>ToDo</title>
  <link rel="stylesheet" href="css/style.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-alpha1/jquery.min.js"></script>
  <script src="https://www.gstatic.com/firebasejs/4.2.0/firebase.js"></script>
  <script src="js/config.js"></script>
</head>
<body ng-controller="TodoCtrl">
    <section id="todoapp">
    <header id="header">
      <form id="todo-form" ng-submit="addTodo()">
        <input type="text" id="new-todo" placeholder="What needs to be done?" autofocus autocomplete="off" ng-model="newtodo">
      </form>
    </header>
    <section id="main">
    <ul id="todo-list">
      <li ng-repeat="todo in todos" ng-class="{completed : todo.completed, editing : todo.editing}"
          ng-swipe-left="todo.editing = true"
          ng-dblclick="todo.editing = true">
        <div class="view">
          <input type="checkbox" class="toggle" ng-model="todo.completed">
            <label><a ng-href='{{todo.href}}' TARGET='_blank'>{{todo.msg}}</a></label>
          <button class="destroy" ng-click="removeTodo($index, todo)"></button>
        </div>
        <form>
          <input class="edit" ng-model="todo.msg" ng-blur="editTodo(todo)" ng-swipe-right="editTodo(todo)"></input>
        </form>
      </li>
    </ul>
    </section>
    </section>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular-touch.js"></script>
  <script src="js/index.js"></script>
</body>
</html>
