<!DOCTYPE html>
<html lang="ja" ng-app="myApp">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
  <title>ToDo</title>
  <link rel="stylesheet" href="css/style.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-alpha1/jquery.min.js"></script>
  <script src="https://www.gstatic.com/firebasejs/4.2.0/firebase.js"></script>
  <script>
    // Initialize Firebase
    var config = {
      apiKey: "AIzaSyDKsehosNXczgFDIpGcD-Q9qBbwKBWSLyo",
      authDomain: "mytodo-5ac31.firebaseapp.com",
      databaseURL: "https://mytodo-5ac31.firebaseio.com",
      projectId: "mytodo-5ac31",
      storageBucket: "mytodo-5ac31.appspot.com",
      messagingSenderId: "800324129281"
    };
    firebase.initializeApp(config);
  </script>
</head>
<body ng-controller="TodoCtrl">
    <section id="todoapp">
    <header id="header">
      <form action="#" id="todo-form" ng-submit="addTodo()">
        <input type="text" id="new-todo" placeholder="What needs to be done?" autofocus autocomplete="off" ng-model="newtodo">
      </form>
    </header>
    <section id="main">
    <ul id="todo-list">
      <li ng-repeat="todo in todos" ng-class="{completed : todo.completed, editing : todo.editing}"
          ng-swipe-left="todo.editing = true"
          ng-dblclick="todo.editing = true">
        <div class="view">
          <input type="checkbox" class="toggle" ng-model="todo.completed">
          <label>{{todo.msg}}</label>
          <button class="destroy" ng-click="removeTodo($index, todo)"></button>
        </div>
        <form action="#">
          <input class="edit" ng-model="todo.msg" ng-blur="editTodo(todo)" ng-swipe-right="editTodo(todo)"></input>
        </form>
      </li>
    </ul>
    </section>
    </section>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular-touch.js"></script>
  <script src="js/index.js"></script>
</body>
</html>
